* {
    padding: 0px;
    margin: 0px;
}
#find-point {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    position: absolute;
    z-index: 1000;
    right: 10px;
    top: 10px;
    width: 200px;
    
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    border-radius: 4px;
    
}
